@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600, 700&display=swap');
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
*{
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #d0a8ed 0%, #e78eaa 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
}
.form {
    text-align: left;
    margin: 0 auto;
    width: 500px;
    color: #6d19a8;
    font-weight: bold;
    font-size: 25px;
    
}
.formTitle {
    margin-top: 100px;
    color: #6d19a8;
    text-align: center;
    letter-spacing: 1px;
    font-size: 60px;
    
}
.formInput_name{
    margin-left: 45px;
    text-align: center;
    padding: 5px 0;
    color: #fff;
    border: 2px dotted #ebeeab;
}
.formInput_name::placeholder, .formInput_password::placeholder, .formInput_email::placeholder{
    color: #ebeeab;
}
.formInput_age:hover, .formInput_name:hover, .formInput_password:hover{
    border: dotted 2px #6d19a8;
}
.formInput_email:focus, .formInput_name:focus, .formInput_password:focus{
    border: dotted 2px white;
}
.formInput_email{
    margin-left: 210px;
    text-align: center;
    padding: 5px 0;
    color: #fff;
    border: 2px dotted #ebeeab;
}
.formInput_email::-webkit-outer-spin-button,
.formInput_email::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formInput_password{
    margin-left: 183px;
    text-align: center;
    padding: 5px 0;
    color: #fff;
    border: 2px dotted #ebeeab;
}
.formError{
    margin-top: -20px;
    text-align: left;
    font-family: 'Inter UI', sans-serif;
    color: red;
    font-size: 15px;
    font-weight: 100;
    
}
.formBtn {
    position: relative;
    font-family: 'Inter UI', sans-serif;
    padding: 10px 30px;
    top: 10px;
    width: 200px;
    margin: 20px 600px;
    color: #cf6f8e;
    font-size: 30px;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
    border: none;
}
.formBtn::before{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #cf6f8e;
    border-left: 2px solid #cf6f8e;
    transition: .3s;
    transition-delay: .3s;
}
.formBtn::after{
    content: '';
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #cf6f8e;
    border-right: 2px solid #cf6f8e;
    transition: .3s;
    transition-delay: .3s;
}
.formBtn:hover::before, .formBtn:hover::after{
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}
.formBtn:hover{
    background: #ebeeab;
    color: #8b47bc;
    box-shadow: 0 0 10px #6d19a8;
    transition-delay: .3s;
}