.title {
    width: 123px;
    height: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;display: flex;
    align-items: center;
    color: #313037;
    margin-left: 30px;
}
