:root[data-theme="light"] {
  --background-color: white;
  --header-color: #313037;
}

:root[data-theme="dark"] {
  --background-color: #2b3e51;
  --color: white;
  --header-color: white;
}

body {
  background: var(--background-color);
  color: var(--color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

