.header{
    height: 84px;
    background: #2231AA;
    
}
.header_nav{
  color: black;
}
.nav_link{
  color: black;
  padding: 10px;
}
.header_link{
  color: black;
  text-decoration: none;
  padding: 15px;
}

.header_link:hover{
  color: green;
}

.Dark{
    background-color: rgba(49, 48, 55, 1);
    color: rgb(35, 167, 75);
  }

  .Light{
    color: #313037;
  }

  .button_theme{
    width: 100px;
    border-radius: 50px;
    border: 0px solid
  }

  .button_theme:hover{
    cursor: pointer;
  }
  .button_theme:active{
    background: green;
  }

.footer_container{
    width: 1120px;
    height: 91px;
    border-top: 1px solid #DADADA;
    display: flex;
    justify-content: space-between;
    color: #8D8E97;
    font-size: 16px;
    align-items: center;
    margin: 0px auto;
}